# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Env files
.env
.env.local
.env.*.local

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# Raw/original video files (too large for GitHub)
public/video/hero-video.mp4
public/video/hero_mobile.mp4

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
